<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/icon.min.css">
	<link rel="stylesheet" type="text/css" href="views/styles.css">
	
	<title>Tatianna Robinson</title>
</head>
<body>

	<div class= "jumbotron">
		<h1>Tatianna Robinson</h1>
		<p>Student Software Developer</p>
		<a href="https://www.linkedin.com/in/tatiannna/"><i class="big linkedin icon"></i></a>
		<a href="https://www.github.com/tatiannna"><i class="big github icon"></i></a>
	</div>
	<div class="container">
		<p>My name is Tatianna Robinson and I am a Computer Science major at John Jay College of Criminal Justice. I will be graduating in May 2019. I love writing and debugging code and am I am very excited to start my career in Web Development.</p>

		<h4 class="title_projects">Projects</h1>
		<div class="row">
			<div class="col-lg-3 col-sm-6 project">Project 1
			<p>Description</p>
			</div>
			<div class="col-lg-3 col-sm-6 project">Project 2
			<p>Description</p></div>
			<div class="col-lg-3 col-sm-6 project">Project 3
			<p>Description</p></div>
			<div class="col-lg-3 col-sm-6 project">Project 4
			<p>Description</p></div>		
		</div>
	</div>
	
</body>
</html>