
body{
	background-color: black;
}

.jumbotron {
	background-color: white;
}

.project {
	background-color: white;
	border: 10px solid black;
	border-radius: 17px;
	padding: 10px;
}

.title_projects {
	color: white;
	text-align: center;
	margin-top: 50px;

}